<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
  <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
  <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
  <property name="hibernate.connection.username">SCOTT</property>
  <property name="hibernate.connection.password">TIGER</property>
  <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
  <!-- 是否在控制台中打印sql语句 -->
  <property name="show_sql">true</property>
  <!-- 使用c3p0连接池，配置连接池提供的供应商 -->
  <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
  <!-- 在连接池中可用的数据库连接的最少数目 -->
  <property name="c3p0.min_size">5</property>
  <!--在连接池中可用的数据库连接的最大数目  -->
  <property name="c3p0.max_size">20</property>

  <!-- 每3000秒去检测所有连接池中的空闲的连接 -->
  <property name="c3p0.idle_test_period">3000</property>
    <!-- 设定数据库连接的过期时间，以秒为单位，如果连接池中某个数据库连接处于空闲状态的时间
  超过了timeout时间，就会在连接池中清除 -->
  <property name="c3p0.timeout">120</property>
  <property name="connection.autocommit">true</property>
  <!-- 开启二级缓存 -->
  <property name="hibernate.cache.use_second_level_cache">true</property>
  <!-- 指定缓存的供应商 -->
  <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
  
  <!-- 指定程序要使用的映射文件 -->
  <!-- <mapping resource="com/chinasofti/etc/model/Person.hbm.xml"/> -->
  <mapping resource="com/chinasofti/etc/model/Emp.hbm.xml"/>
  <mapping resource="com/chinasofti/etc/model/Dept.hbm.xml"/>
  
  <class-cache usage="read-only" class="com.chinasofti.etc.model.Emp"/>
  <class-cache usage="read-only" class="com.chinasofti.etc.model.Dept"/>
  <collection-cache usage="read-only" collection="com.chinasofti.etc.model.Dept.emps"/>
  </session-factory>
</hibernate-configuration>
